.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif, Arial;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center_container {
  display: flex;
  flex-direction: row;
}

.result_card {
  height: 100px;
  width: 300px;
  border: none;
  border-radius: 8px;
  background-color: bisque;
  margin-top: 0.4em;
  display: flex;
  justify-content: left;
  padding-top: 2em;
}

h1 {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 1.5em;
  color: grey;
  margin-bottom: 1em;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  /* margin-bottom: 1em; */
}

input[type="button"] {
  width: 14em;
  height: 2em;
  margin-top: 1em;
  margin-left: 1em;
  background-color: #251e1e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type="text"] {
  width: 12em;
  height: 2em;
  border-radius: 8px;

  border-style: solid;
  border-width: 1px;

  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="button"]:hover {
  background-color: gray;
}

input[type="text"]:focus {
  outline: none;
  border-color: blue;
  border-width: 2px;
}

.add_button {
  width: 8em;
}